.app-container {

  padding: 4%;
}

.sortable-field {

  cursor: pointer;

  &:hover {

    color: white;
    background-color: #4AB3F4;
    transition: .4s;
  }
}

button {

  display: flex !important;
}